@model JsonDTO

@{
    ViewData["Title"] = "Index";
}

<h2>Asignaturas</h2>


<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>NOMBRE</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var asignatura in Model.Asignaturas)
        {
            <partial name="_AsignaturaSimple" model="asignatura" />
        }
    </tbody>
</table>


